@media screen and (min-width: 801px) {
	.img {
		/*  width: 200px;
			height: 200px; */
		width: 12em;
		height:12em;
	}
}
@media screen and (min-width: 541px) and (max-width: 800px) {
	.img {
		/*  width: 200px;
  		height: 200px; */
		width: 9em;
		height:9em;
	}
}
.burger-text {
    min-width: 12em;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }

 .divThatWillContainBothImageAndText { 
  float: left;
  width: 33.33%;
  padding: 0em;
 }

.fb-like-container {
    position: relative;
    padding-top: 1em;
	padding-bottom: 1em;
  }
  .fb-like {
    position: absolute;
    top: 50%;
    left: 34%;
  /*  margin-right: -50%;
    transform: translate(-50%, -50%); */
  }


    
  
 
  